<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search</title>
</head>
<body>
    <h1>Chad's Cookin your fav!</h1>
    <img src="https://media.istockphoto.com/id/1279175776/vector/baker-with-the-paper-bag-in-his-hands-bearded-man-in-white-chefs-hat.jpg?s=612x612&w=0&k=20&c=7jGU8rPTB8APFGwDHNx4DAYTgG7cws-yjnu88sMaQqE=" style="width:200px">
    <form action = "/" method = "POST">
        <label for="recipe_type">Select a type:</label>
        <select id="recipe_type" name="recipe_type">
            <option value="chicken">Chicken</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="caribbean">Caribbean</option>
        </select>
        <input type="submit" value="Search">
    </form>
</body>
</html>

